<div class="footerContainer">
    <div class="footerLeft">
        <div>
            <span class="firstLetter">I</span>
            <span class="nameLetters">sha</span>
            <div>
                <span>I</span>
                <img src="/assets/img/logoPart.png" alt="">
            </div>
        </div>
        <a>Impressum</a>
    </div>
    <div class="footerMiddle">© Ishak Ates 2024</div>
    <div class="footerRight">
        <div class="gitIcon referenceIcons"></div>
        <div class="mailIcon referenceIcons"></div>
        <div class="linkedIcon referenceIcons"></div>
    </div>
</div>
