<div class="footerContainer">
    <div
    class="footerLeft"
    [attr.data-aos]="windowWith >= 1100 ? 'fade-right' : 'fade-up'">
        <div>
            <span class="firstLetter">I</span>
            <span class="nameLetters">sha</span>
            <div>
                <span>I</span>
                <img src="/assets/img/logoPart.png" alt="">
            </div>
        </div>
        <span class="imprint" (click)="openImprint()">{{ "IMPRINT" | translate }}</span>
        <span class="privacyPolicy" (click)="openPolicy()">{{ "PRIVACY" | translate }}</span>
    </div>
    <div class="footerMiddle" data-aos="fade-up">
        <div class="hero-container">
            <h2 class="hero">
                <span>© Ishak Ates 2024</span>
            </h2>
        </div>
    </div>
    <div class="footerRight"
    [attr.data-aos]="windowWith >= 1100 ? 'fade-left' : 'fade-up'">
        <a href="https://github.com/IshakAtes" target="_blank" class="gitIcon referenceIcons"></a>
        <a href="mailto:contact@ishakates.com?subject=Feedback Portfolio&body=Hallo, ich möchte Ihnen folgendes Feedback geben:" class="mailIcon referenceIcons"></a>
        <a href="https://linkedin.com/in/ishak-ates" target="_blank" class="linkedIcon referenceIcons"></a>
    </div>
</div>
