@import './../../../styles.scss';

.mainSkillCt {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 300px;
    background-color: #141D2F;
    position: relative;
    @include allCenter(space-around, center);
    >img {
        position: absolute;
        top: 400px;
        left: -550px;
        z-index: 1;
        rotate: 180deg;
        transform: scaleX(-1);
    }
    >.skillIconCt {
        z-index: 2;
        @include allCenter(flex-start, center);
        flex-wrap: wrap;
        gap: 100px;
        >div {
            @include allCenter();
            flex-direction: column;
            height: 100px;
            gap: 10px;
            >span {
                font-size: 16px;
                font-family: 'poppins';
                color: whitesmoke;
            }
        }
    }
}

.skillContentCt {
    @include allCenter(unset, flex-end);
    flex-direction: column;
    gap: 70px;
    z-index: 2;
    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        .decentLine {
            width: 70px;
            border: 2px solid #ff4747;
            right: 0;
            position: absolute;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }
        >h2 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 90px;
            font-family: 'poppins';
            color:whitesmoke;
        }
    }
    >span {
        text-align: end;
        font-family: 'poppins';
        color:whitesmoke;
        font-size: 16px;
    }
    >button {
        width: 200px;
        height: 58px;
        padding: 15px 30px 15px 30px;
        background-color: #FA7902;
        color: whitesmoke;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
        font-family: 'poppins';
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        border: 0;
    }
}