<div class="mainSkillCt">
    <div class="skillIconCt">
        <img src="./../../../assets/img/iconAngular.png" alt="">
        <img src="./../../../assets/img/iconTypescript.png" alt="">
        <img src="./../../../assets/img/iconJavScript.png" alt="">
        <img src="./../../../assets/img/iconHtml.png" alt="">
        <img src="./../../../assets/img/iconFirebase.png" alt="">
        <img src="./../../../assets/img/iconGit.png" alt="">
        <img src="./../../../assets/img/iconCss.png" alt="">
        <img src="./../../../assets/img/iconApi.png" alt="">
        <img src="./../../../assets/img/iconScrum.png" alt="">
        <img src="./../../../assets/img/iconMaterial.png" alt="">
        <img src="./../../../assets/img/iconWordpress.png" alt="">
    </div>
    <div class="skillContentCt">
        <h2>My skills</h2>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ea consequatur necessitatibus numquam odit impedit expedita atque doloremque delectus incidunt officia consequuntur tempore mollitia ipsam, ab amet pariatur corporis sunt.</span>
        <button>Get in touch</button>
    </div>

</div>