<div class="mainSkillCt">
    <div class="skillIconCt" data-aos="zoom-out-right">
        <div>
            <img src="/assets/img/iconAngular.png" alt="">
            <span>Angular</span>
        </div>
        <div>
            <img src="/assets/img/iconTypescript.png" alt="">
            <span>TypeScript</span>
        </div>
        <div>
            <img src="/assets/img/iconJavScript.png" alt="">
            <span>JavaScript</span>
        </div>
        <div>
            <img src="/assets/img/iconHtml.png" alt="">
            <span>HTML</span>
        </div>
        <div>
            <img src="/assets/img/iconFirebase.png" alt="">
            <span>Firebase</span>
        </div>
        <div>
            <img src="/assets/img/iconGit.png" alt="">
            <span>GIT</span>
        </div>
        <div>
            <img src="/assets/img/iconCss.png" alt="">
            <span>CSS</span>
        </div>
        <div>
            <img src="/assets/img/iconApi.png" alt="">
            <span>Rest-Api</span>
        </div>
        <div>
            <img src="/assets/img/iconScrum.png" alt="">
            <span>Scrum</span>
        </div>
        <div>
            <img src="/assets/img/iconMaterial.png" alt="">
            <span>Material design</span>
        </div>
        <div>
            <img src="/assets/img/iconWordpress.png" alt="">
            <span>Wordpress</span>
        </div>
        <div>
            <img style="width: 64px; height: 64px;" src="/assets/img/scss-svgrepo.png" alt="">
            <span>Scss</span>
        </div>
        <div>
            <img style="width: 64px; height: 64px;" src="/assets/img/bootstrap-fill.png" alt="">
            <span>Bootstrap</span>
        </div>
    </div>
    <div class="skillContentCt" data-aos="fade-up-left">
        <div class="decentLine"></div>
        <div>
            <h2>My skills</h2>
        </div>
        <span>{{ "SKILLCONTENT" | translate }}</span>
        <a href="#portfolio">{{ "GETINTOUCH" | translate }}</a>
    </div>
    <img src="/assets/img/orangeShadow.png" alt="">
</div>