<div class="mainSkillCt">
    <div class="skillIconCt">
        <div>
            <img src="./../../../assets/img/iconAngular.png" alt="">
            <span>Angular</span>
        </div>
        <div>
            <img src="./../../../assets/img/iconTypescript.png" alt="">
            <span>TypeScript</span>
        </div>
        <div>
            <img src="./../../../assets/img/iconJavScript.png" alt="">
            <span>JavaScript</span>
        </div>
        <div>
            <img src="./../../../assets/img/iconHtml.png" alt="">
            <span>HTML</span>
        </div>
        <div>
            <img src="./../../../assets/img/iconFirebase.png" alt="">
            <span>Firebase</span>
        </div>
        <div>
            <img src="./../../../assets/img/iconGit.png" alt="">
            <span>GIT</span>
        </div>
        <div>
            <img src="./../../../assets/img/iconCss.png" alt="">
            <span>CSS</span>
        </div>
        <div>
            <img src="./../../../assets/img/iconApi.png" alt="">
            <span>Rest-Api</span>
        </div>
        <div>
            <img src="./../../../assets/img/iconScrum.png" alt="">
            <span>Scrum</span>
        </div>
        <div>
            <img src="./../../../assets/img/iconMaterial.png" alt="">
            <span>Material design</span>
        </div>
        <div>
            <img src="./../../../assets/img/iconWordpress.png" alt="">
            <span>Wordpress</span>
        </div>
    </div>
    <div class="skillContentCt">
        <div>
            <div class="decentLine"></div>
            <h2>My skills</h2>
        </div>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ea consequatur necessitatibus numquam odit impedit expedita atque doloremque delectus incidunt officia consequuntur tempore mollitia ipsam, ab amet pariatur corporis sunt.</span>
        <button>Get in touch</button>
    </div>
    <img src="./../../../assets/img/orangeShadow.png" alt="">
</div>