@import './../../../styles.scss';

.mainSkillCt {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 240px;
    padding-bottom: 100px;
    background-color: #141D2F;
    position: relative;
    @include allCenter(space-around, center);
    >img {
        position: absolute;
        top: 400px;
        left: -550px;
        z-index: 1;
        rotate: 180deg;
        transform: scaleX(-1);
    }
    >.skillIconCt {
        z-index: 2;
        @include allCenter(flex-start, center);
        flex-wrap: wrap;
        gap: 50px;
        >div {
            @include allCenter();
            flex-direction: column;
            height: 100px;
            width: 90px;
            gap: 10px;
            >span {
                text-align: center;
                font-size: 16px;
                font-family: 'poppins';
                color: whitesmoke;
            }
        }
    }
}

.skillContentCt {
    @include allCenter(unset, flex-end);
    flex-direction: column;
    gap: 70px;
    z-index: 2;
    >.decentLine {
        width: 70px;
        border: 2px solid #ff4747;
        position: absolute;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        right: calc(0px - 200px);
        top: 70px;
    }
    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        >h2 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 90px;
            font-family: 'poppins';
            color:whitesmoke;
            width: max-content;
        }
    }
    >span {
        text-align: end;
        font-family: 'poppins';
        color:whitesmoke;
        font-size: 16px;
    }
    >a {
        @include allCenter();
        text-decoration: none;
        padding: 15px 30px 15px 30px;
        background-color: #FA7902;
        color: whitesmoke;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'poppins';
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        border: 0;
        margin: 5px 10px 5px 10px;
        transition: all 125ms ease-in-out;
        &:hover {
            margin: 0;
            padding: 20px 40px 20px 40px;
            background-color: #FF4747;
        }
    }
}


@media screen and (max-width: 1600px) {
    .mainSkillCt {
        padding-left: 100px;
        padding-right: 100px;
        justify-content: space-evenly;
    }

    .mainSkillCt > .skillIconCt {
        gap: 54px;
    }

    .skillContentCt > div > h2 {
        width: max-content;
    }

    .skillContentCt > .decentLine {
            right: calc(0px - 100px);
        }
}

@media screen and (max-width: 1400px) {
    .skillContentCt {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1100px) {
    .skillContentCt > .decentLine {
        width: 120px;
        right: unset;
        left: calc(100vw - 20vw);
        // left: calc(100vw - 70px);
    }

    .skillContentCt > div > h2 {
        margin-right: 30px;
    }

    .skillContentCt {
        margin-left: 0px;
    }

    .mainSkillCt {
        flex-direction: column-reverse;
    }

    .mainSkillCt {
        padding-top: 200px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .mainSkillCt > .skillIconCt {
        gap: 40px;
        margin-top: 100px;
        justify-content: center;
    }
}


@media screen and (max-width: 980px) {
    .skillContentCt > .decentLine {
        width: 120px;
        left: calc(100vw - 14vw);
    }
}


@media screen and (max-width: 600px) {
    .skillContentCt > div > h2 {
        font-size: 45px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: right;
    }

    .skillContentCt > span {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: right;
    }

    .skillContentCt > .decentLine {
        left: calc(100vw - 20vw);
        top: 26px;
    }
}


@media screen and (max-width: 460px) {
    .skillContentCt > .decentLine {
        left: 74vw;
        top: 26px;
    }
}