<div class="aboutMeContainer">
    <div>
        <h2>About me</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed eaque omnis, deserunt eos nulla error corporis reiciendis architecto dolores numquam neque ex, itaque quisquam ad sint laudantium id optio. Harum?</span>
        <div>
            <img src="#" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, saepe repudiandae animi molestiae consequuntur quo doloremque, deserunt itaque aspernatur voluptates numquam quia, dicta praesentium. Quo esse vel quisquam natus quae?</p>
        </div>
        <div>
            <img src="#" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo fugiat cupiditate dolore esse quis magni facere quod excepturi tempora. Rerum dolores, animi molestiae similique modi deleniti ex minima accusamus quos.</p>
        </div>
    </div>
    <div class="aboutMeImage">
        <img src="#" alt="">
    </div>
</div>

