<div class="aboutMeContainer">
    <div class="aboutMeContent"
    data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine">
        <h2>{{ "ABOUTME" | translate }}</h2>
        <div class="myContent">
            <span>{{ "YOURSELF" | translate }}</span>
            <div>
                <div class="bulbImage"></div>
                <p>{{ "ME1" | translate }}</p>
            </div>
            <div>
                <div class="puzzleImage"></div>
                <p>{{ "ME2" | translate }}</p>
            </div>
        </div>
    </div>
    <div class="aboutMeImageCt" data-aos="zoom-out-left">
        <div></div>
    </div>
    <img src="/assets/img/Purple shadow.png" alt="">
</div>

