<div class="contactsMainCt">
    <div class="contactsHeadCt">
        <div></div>
        <h2>Contact</h2>
    </div>
    <div class=" contactCt">
        <div class="announcementCt">
            <span>Got a problem to solve?</span>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam aliquid eaque dolor tempora optio consectetur veniam minus rem, voluptas sint repellendus at culpa consequuntur explicabo, adipisci maxime deleniti. Quas, delectus.</p>
            <p>Need a Frontend developer? <a href="#">Contact me!</a></p>
        </div>
        <div class="formCt">
            <form action="" method="post">
                <div class="inputContainer">
                    <input
                    class="form-control"
                    name="nameId" minlength="2" placeholder="Your name" type="text" required
                    [(ngModel)]="nameInput"
                    [ngClass]="{'green-border': nameInput.length >= 2}"
                    >
                    <img *ngIf="nameInput.length < 2"
                    [ngStyle]="{'position': 'absolute', 'right': '14px'}"
                    src="/assets/img/warning.png" alt="First Image"
                    >
                    <img *ngIf="nameInput.length >= 2"
                    [ngStyle]="{'position': 'absolute', 'right': '14px'}"
                    src="/assets/img/success.png" alt="Second Image"
                    >
                </div>

                <div class="inputContainer">
                    <input
                    [(ngModel)]="mailInput"
                    class="form-control"
                    name="email" minlength="2" type="email" placeholder="Your email" required
                    [pattern]="pattern"
                />
                <img *ngIf="!mailInput.match(pattern)"
                    [ngStyle]="{'position': 'absolute', 'right': '14px'}"
                    src="/assets/img/warning.png" alt="First Image"
                />
                <img *ngIf="mailInput.length >= 2 && mailInput.match(pattern)"
                    [ngStyle]="{'position': 'absolute', 'right': '14px'}"
                    src="/assets/img/success.png" alt="Second Image"
                />
                </div>

                <textarea placeholder="Your message" name="" id="" cols="30" rows="10"></textarea>
                <div>
                    <label class="container">
                        <input required type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <p>I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.</p>
                </div>
                <div class="btnContainer">
                    <button id="messageBtn" class="disabledBtn" disabled>Send message</button>
                </div>
            </form>
            <div class="fastUp">
                <div class="upImg"></div>
            </div>
        </div>
        <img src="/assets/img/Red 3 footer.png" alt="">
    </div>
</div>
