@import './../../../styles.scss';

* {
    box-sizing: border-box;
}

.contactsMainCt {
    background-color: #141D2F;
}

.contactsHeadCt {
    @include allCenter(flex-start, center);
    gap: 10px;
    position: relative;
    z-index: 2;
    >div {
        border: 2px solid #ff4747;
        width: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    >h2 {
        margin-left: 50px;
        font-family: 'Poppins';
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        letter-spacing: 0em;
        text-align: center;
        color: whitesmoke
    }
}

.contactCt {
    @include allCenter(space-between, flex-start);
    position: relative;
    padding-right: 100px;
    padding-left: 100px;
    >.announcementCt {
        @include allCenter(center, flex-start);
        flex-direction: column;
        width: 500px;
        z-index: 1;
        >span {
            font-family: 'Poppins';
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: left;
            color: whitesmoke;
        }
        >p {
            font-family: 'Poppins';
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: whitesmoke;
        }
        >a {
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            font-family: 'Poppins';
            font-size: 16px;
            text-decoration: none;
            color: whitesmoke;
            &:hover {
                color:#FA7902;
            }
        }
    }
    >img {
        position: absolute;
        left: -140px;
        bottom: -240px;
    }
}

.formCt {
    margin-bottom: 100px;
    >.fastUp {
        @include allCenter(flex-end, center);
        width: 100%;
        margin-top: 50px;
        >.upImg {
            background-image: url(/assets/img/DefaultUp.png);
            width: 40px;
            height: 40px;
            object-fit: cover;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: all 125ms ease-in-out;
            &:hover {
                background-image: url(/assets/img/hoverUp.png);
            }
        }
    }
}

form {
    @include allCenter(center, flex-start);
    gap: 20px;
    flex-direction: column;
    >div {
        @include allCenter(flex-start, center);
        max-width: 620px;
        >p {
            font-family: 'Poppins';
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: #f5f5f5;
            >span {
                cursor: pointer;
                text-decoration: none;
                color:#ff4747;
                &:hover {
                    text-decoration-line: underline;
                }
            }
        }
    }
    >.btnContainer {
        @include allCenter();
        width: 100%;
    }
}

.inputContainer {
    position: relative;
    align-items: flex-start !important;
    flex-direction: column !important;
    width: 100%;
    >input {
        width: 100%;
        max-width: 620px;
        padding: 15px 25px 15px 25px;
        border-radius: 10px;
        border: 1px solid #FF4747;
        gap: 10px;
        background-color: #141D2F;
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color:whitesmoke;
        &::placeholder {
            font-family: 'Poppins';
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color:whitesmoke;
        }
        &:hover {
            border: 1px solid #D61CE6;
            cursor: pointer;
        }
        &:focus {
            outline: none !important;
            border: 1px solid #FA7902;
        }
        &:-webkit-autofill {
            -webkit-text-fill-color: whitesmoke;
            -webkit-background-clip: text !important;
        }
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: whitesmoke;
        } 
    }
    >span {
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #E61C40;
        padding-top: 2px;
    }
}

.textContainer {
    position: relative;
    flex-direction: column;
    align-items: flex-start !important;
    width: 100%;
    >textarea {
        max-width: 620px;
        width: 100%;
        padding: 15px 25px 15px 25px;
        border-radius: 10px;
        border: 1px solid #ff4747;
        gap: 10px;
        background-color: #141D2F;
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: whitesmoke;
        &::placeholder {
            font-family: 'Poppins';
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: whitesmoke;
        }
        &:hover {
            border: 1px solid #D61CE6;
            cursor: pointer;
            &::-webkit-resizer {
                content: '';
                background-image: url('/assets/img/resizerHover.png');
                background-repeat: no-repeat;
            }
        }
        &:focus {
            outline: none !important;
            border: 1px solid #FA7902;
        }
        &::-webkit-resizer {
            content: '';
            background-image: url('/assets/img/resizer.png');
            background-repeat: no-repeat;
        }
    }
    >span {
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #E61C40;
        padding-top: 2px;
    }
}

.enabledBtn {
    border: 0;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    gap: 10px;
    background-color: #FA7902;
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color:whitesmoke;
    cursor: pointer;
    margin: 5px 10px 5px 10px;
    transition: all 125ms ease-in-out;
    &:hover {
        margin: 0;
        padding: 20px 40px 20px 40px;
        background-color: #FF4747;
    }
}

.disabledBtn {
    border: 0;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    gap: 10px;
    background-color: #B6B6B6;
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    color:whitesmoke;
    cursor: default;
    margin: 5px 10px 5px 10px;
}

.green-border {
    border: 1px solid #70E61C !important;
}

.green-border-resizer {
    border: 1px solid #70E61C !important;
    &::-webkit-resizer {
        content: '';
        background-image: url('/assets/img/resizerGreen.png') !important;
        background-repeat: no-repeat;
    }
}

.red-border {
    border: 1px solid #E61C40 !important;
}

.d-none {
    display: none;
}


// CUSTOM CHECKBOX
.container {
    display: block;
    position: relative;
    padding-left: 42px;
    margin-bottom: 28px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  /* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #141D2F;
    border: 2px solid #FA7902;
    border-radius: 5px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    border: 2px solid #D61CE6;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #141D2F;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #FA7902;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.feedbackBubble {
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    border-radius: 10px 10px 0px 10px;
    gap: 10px;
    background-color: #FF4747;
    color: whitesmoke;
    border: 0;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}

@media screen and (max-width: 1400px) {
    .contactCt > .announcementCt > p {
        width: inherit;
    }

    .contactCt {
        gap: 40px;
    }
}


@media screen and (max-width: 1200px) {
    .contactCt > .announcementCt {
        width: 400px;
    }
}


@media screen and (max-width: 1100px) {
    .contactCt {
        padding-right: 40px;
        padding-left: 40px;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    .contactCt > .announcementCt {
        width: 100%;
        align-items: center;
        > p {
            text-align: center;
        }
    }

    .contactCt > img {
        z-index: -1;
    }
}


@media screen and (max-width: 600px) {
    .contactsHeadCt > h2 {
        font-size: 45px;
        line-height: 54px;
        margin-left: 20px
    }

    .contactCt > .announcementCt {
        > span {
            text-align: center;
        }
        > p {
            text-align: center;
        }
    }
    .contactCt > img {
        width: 300px;
        left: 0px;
        bottom: 0px;
        height: 700px;
    }
}


@media screen and (min-width: 1940px) {
    .contactsHeadCt > h2 {
        margin-left: 50px;
    }

    .contactsHeadCt > div {
        width: 250px;
    }

    .contactCt {
        padding-right: 300px;
        padding-left: 300px;
    }

    .contactCt > .announcementCt {
        width: 700px;
    }
}

@media screen and (min-width: 2400px) {
    .contactsHeadCt > h2 {
        margin-left: 140px;
    }

    .contactsHeadCt > div {
        width: 350px;
    }

    .contactCt {
        padding-right: 500px;
        padding-left: 500px;
    }

    .contactCt > .announcementCt {
        width: 700px;
    }
}


@media screen and (min-width: 3000px) {
    .contactsHeadCt > div {
        width: 650px;
    }

    .contactCt {
        padding-right: 800px;
        padding-left: 800px;
    }
}