<div class="contactsMainCt">
    <div class="contactsHeadCt">
        <div></div>
        <h2>Contact</h2>
    </div>
    <div class=" contactCt">
        <div class="announcementCt">
            <span>Got a problem to solve?</span>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam aliquid eaque dolor tempora optio consectetur veniam minus rem, voluptas sint repellendus at culpa consequuntur explicabo, adipisci maxime deleniti. Quas, delectus.</p>
            <p>Need a Frontend developer? <a href="#">Contact me!</a></p>
        </div>
        <form>
            <input placeholder="Your name" type="text">
            <input placeholder="Your email" type="text">
            <textarea placeholder="Your message" name="" id="" cols="30" rows="10"></textarea>
            <div>
                <label class="container">
                    <input required type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <p>I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.</p>
            </div>
            <button>Send message</button>
        </form>
    </div>
    <img src="./../../../assets/img/DefaultUp.png" alt="">
</div>
