@import './../../styles.scss';

.privacy {
    @include allCenter(center, center);
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    color: whitesmoke;
    >.closeImg {
        position: fixed;
        top: 30px;
        right: 200px;
        width: 32px;
        height: 32px;
        cursor: pointer;
        opacity: 0.6;
        background-image: url(./../../assets/img/buchstabe-x.png);
        &:hover {
            opacity: 1;
            background-image: url(./../../assets/img/bstabe-x.png);
        }
    }
    h1 {
        color: #FF4747;
    }
    a {
        color: #FA7902;
    }
}