@import './../../../styles.scss';

header {
    // position: relative;
    background-color: #141D2F;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    >img {
        width: 100%;
        position: absolute;
        top: 200px;
        z-index: 3;
    }
}

.textMain {
    z-index: 4;
    padding-top: 200px;
    padding-right: 300px;
    @include allCenter();
    flex-direction: column;
    >a {
        @include allCenter();
        text-decoration: none;
        gap: 10;
        margin-top: 24px;
        padding: 15px 30px 15px 30px;
        border-radius: 10px;
        background-color: #FA7902;
        font-size: 23px;
        color: whitesmoke;
        font-family: 'Poppins';
        cursor: pointer;
        border: 0;
        transition: all 125ms ease-in-out;
        &:hover {
            padding: 20px 40px 20px 40px;
            background-color: #FF4747;
        }
    }
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >.firstText {
        font-family: 'Poppins';
        transform: rotate(-90deg);
        font-size: 64px;
        color: whitesmoke;
        line-height: 77px;
        margin-top: 10px;
        font-weight: 400;
        letter-spacing: 0em;
    }
    >.secondText {
        @include allCenter(center, flex-start);
        flex-direction: column;
        >span {
            @include allCenter(center, center);
            text-align: start;
            width: max-content;
        }
        >.nameText {
            font-family: 'Poppins';
            font-size: 90px;
            line-height: 108px;
            color: whitesmoke;
            font-weight: 700;
            letter-spacing: 14px;
        }
        >.devText {
            font-family: 'Poppins';
            font-size: 58px;
            color: #FF4747;
            font-family: Poppins;
            font-weight: 400;
            line-height: 70px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}



.hero {
    z-index: 2;
    position: absolute;
    top: 90px;
    left: 120px;
    width: 550px;
    height: auto;
}

.spreads {
    z-index: 1;
    position: absolute;
    left: -99px;
    top: 70px;
    width: 1000px;
}


.referenceCt {
    @include allCenter();
    gap: 40px;
    position: absolute;
    bottom: 10px;
    z-index: 3;
    height: 40px;
    >.lineStyle {
        width: 100px;
        border: 2px solid #FF4747;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    >.referenceIcons {
        transition: all 125ms ease-in-out;
        width: 42px;
        height: 40px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    >.gitIcon {
        background-image: url('/assets/img/gitDefault.png');
        &:hover {
            background-image: url('/assets/img/gitHover.png');
        }
    }
    >.mailIcon {
        background-image: url('/assets/img/mailDefault.png');
        &:hover {
            background-image: url('/assets/img/mailHover.png');
        }
    }
    >.linkedIcon {
        background-image: url('/assets/img/linkedDefault.png');
        &:hover {
            background-image: url('/assets/img/linkedHover.png');
        }
    }
    >.referenceMail {
        transition: all 512ms ease-in-out;
        text-decoration: none;
        color:whitesmoke;
        font-size: 23px;
        font-family: 'poppins';
        cursor: pointer;
        display: inline-block;
        &::after {
            content: '';
            width: 0px;
            height: 3px;
            display: block;
            background: #FF4747;
            color:#FA7902;
            transition: 300ms;
        }
        &:hover::after {
            width: 100%;
            font-size: 26px;
        }
    }
}