<header>
    <div class="heroCt">
        <img class="hero" src="/assets/img/myPhoto.png" alt="">
        <img class="spreads" src="/assets/img/Group 2.png" alt="">
    </div>
    <div class="textMain">
        <div class="headline">
            <span class="firstText">I am</span>
            <div class="secondText">
                <span class="nameText">Ishak Ates</span>
                <span class="devText">FRONTENT DEVELOPER</span>
            </div>
        </div>
        <a href="#contact">Let's talk!</a>
    </div>
    <img src="/assets/img/Vector.png" alt="">
    <div class="referenceCt">
        <div class="lineStyle"></div>
        <div class="gitIcon referenceIcons"></div>
        <div class="mailIcon referenceIcons"></div>
        <div class="linkedIcon referenceIcons"></div>
        <a href="#" class="referenceMail">ishakfeuer&#64;gmail.com</a>
    </div>
</header>