<header>
    <div class="heroCt" data-aos="zoom-in">
        <img class="hero" src="/assets/img/myPhoto.png" alt="">
        <img class="spreads" src="/assets/img/Group 2.png" alt="">
    </div>
    <div class="textMain box" data-aos="zoom-in">
        <div class="headline">
            <span class="firstText">I am</span>
            <div class="secondText">
                <span class="nameText">Ishak Ates</span>
                <span class="devText">FRONTENT DEVELOPER</span>
            </div>
        </div>
        <a href="#contact">Let's talk!</a>
    </div>
    <img id="curveImg" src="/assets/img/Vector.png" alt="">
    <div class="referenceCt">
        <div class="lineStyle"></div>
        <a href="https://github.com/IshakAtes" target="_blank" class="gitIcon referenceIcons"></a>
        <a href="mailto:ishakfeuer@gmail.com?subject=Feedback Portfolio&body=Hallo, ich möchte Ihnen folgendes Feedback geben:" class="mailIcon referenceIcons"></a>
        <a href="https://linkedin.com/in/ishak-ates" target="_blank" class="linkedIcon referenceIcons"></a>
        <a href="mailto:ishakfeuer@gmail.com?subject=Feedback Portfolio&body=Hallo, ich möchte Ihnen folgendes Feedback geben:" class="referenceMail">ishakfeuer&#64;gmail.com</a>
    </div>
</header>