@import './../../../styles.scss';

header {
    // position: relative;
    background-color: #141D2F;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    >img {
        width: 100%;
        position: absolute;
        top: 200px;
        z-index: 3;
    }
}

.textMain {
    z-index: 4;
    padding-top: 60px;
    padding-right: 300px;
    @include allCenter();
    flex-direction: column;
    >button {
        margin-top: 24px;
        width: 165px;
        height: 58px;
        border-radius: 10px;
        background-color: #FA7902;
        color: whitesmoke;
        font-family: 'Poppins';
        cursor: pointer;
    }
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >.firstText {
        font-family: 'Poppins';
        transform: rotate(-90deg);
        font-size: 64px;
        color: whitesmoke;
        line-height: 77px;
        margin-top: 10px;
    }
    >.secondText {
        @include allCenter(center, flex-start);
        flex-direction: column;
        >span {
            @include allCenter(center, center);
            text-align: start;
            width: max-content;
        }
        >.nameText {
            font-family: 'Poppins';
            font-size: 90px;
            line-height: 108px;
            color: whitesmoke;
        }
        >.devText {
            font-family: 'Poppins';
            font-size: 58px;
            color: #FF4747;
        }
    }
}



.hero {
    z-index: 2;
    position: absolute;
    top: 90px;
    left: 120px;
    width: 550px;
    height: auto;
}

.spreads {
    z-index: 1;
    position: absolute;
    left: -90px;
    top: 30px;
    width: 1000px;
}


.referenceCt {
    @include allCenter();
    gap: 40px;
    position: absolute;
    bottom: 0px;
    z-index: 3;
    >.underlineStyle {
        width: 100px;
        border: 4px solid #FF4747;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}