@import './../../styles.scss';

.imprint {
    @include allCenter(center, center);
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    color: whitesmoke;
    >.closeImg {
        position: fixed;
        top: 30px;
        right: 200px;
        width: 32px;
        height: 32px;
        cursor: pointer;
        opacity: 0.7;
        background-image: url(./../../assets/img/buchstabe-x.png);
        &:hover {
            opacity: 1;
            background-image: url(./../../assets/img/bstabe-x.png);
        }
    }
    h1 {
        color: #FF4747;
    }
    a {
        color: #FA7902;
    }
}


@media screen and (max-width: 1400px) {
    .imprint {
        padding-left: 100px;
        padding-right: 100px;
        > .closeImg {
            right: 70px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .imprint {
        padding-left: 40px;
        padding-right: 40px;
        > .closeImg {
            right: 10px;
        }
    }
}