<nav class="navDefault">
    <div class="nameContainer">
        <span class="firstLetter">I</span>
        <span class="nameLetters">sha</span>
        <div>
            <span>I</span>
            <img src="/assets/img/logoPart.png" alt="">
        </div>
    </div>
    <div class="linkContainer">
        <a href="#aboutMe">About me</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
        <div class="langCt">
            <a href="#">DE</a>
            <span>|</span>
            <a href="#">EN</a>
        </div>
        
    </div>
</nav>

<nav class="navMobile">
    <div class="nameContainer">
        <span class="firstLetter">I</span>
        <span class="nameLetters">sha</span>
        <div>
            <span>I</span>
            <img src="/assets/img/logoPart.png" alt="">
        </div>
    </div>
    <div class="burgerCt">
        <img src="./../../../assets/img/burger.png" alt="">
    </div>
</nav>