@import './../../../styles.scss';

.navMobile {
    display: none;
}

.navDefault {
    @include allCenter(space-between, center);
    background-color: #141D2F;
    padding: 10px 100px 10px 100px;
    position: fixed;
    z-index: 5;
    right: 0;
    left: 0;
    >.linkContainer {
        @include allCenter();
        flex-direction: row;
        gap: 30px;
        width: max-content;
        height: 32px;
        >a {
            transition: all 125ms ease-in-out;
            text-decoration: none;
            font-size: 32px;
            color: whitesmoke;
            padding-left: 40px;
            &::after {
                content: '';
                width: 0px;
                height: 3px;
                display: block;
                background: #ff4747;
                transition: 300ms;
            }
            &:hover::after {
                width: 70%;
            }
            &:hover {
                color: #FA7902;
            }
        }
    }
}

.nameContainer {
    @include allCenter();
    >.firstLetter {
        font-size: 50px;
        color: #ff4747;
        font-family: 'Poppins';
        font-weight: 600;
    }
    >.nameLetters {
        font-size: 50px;
        color: whitesmoke;
        font-family: 'Poppins';
        font-weight: 600;
        position: relative;
        z-index: 5;
    }
    >div {
        @include allCenter(center, baseline);
        position: relative;
        >span {
            font-size: 50px;
            color: whitesmoke;
            font-family: 'Poppins';
            font-weight: 600;
        }
        >img {
            width: 24px;
            height: 26px;
            left: 4px;
            position: absolute;
            bottom: 20px;
        }
    }
}

.languageCt {
    @include allCenter();
    >a {
        text-decoration: none;
        font-size: 32px;
        color: whitesmoke;
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
        &::after {
            content: '';
            width: 0px;
            height: 3px;
            display: block;
            background: #ff4747;
            transition: 300ms;
        }
        &:hover::after {
            width: 70%;
        }
        &:hover {
            color: #FA7902;
        }
    }
    >span {
        color: rgb(180, 180, 180);
        font-size: 30px;
    }
}


@media screen and (max-width: 1100px) {
    .burgerCt {
        cursor: pointer;
    }
    
    .navDefault {
        display: none;
    }

    .navMobile {
        @include allCenter(space-between, center);
        background-color: #141D2F;
        padding: 10px 40px 10px 40px;
        position: fixed;
        z-index: 10;
        right: 0;
        left: 0;
    }
}



.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: #141D2F;
    overflow-y: hidden;
    transition: 0.5s;
    opacity: 0.9;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: whitesmoke;
    display: block;
    transition: 0.3s;
    &:hover {
        color: #FA7902;
    }
}

.overlay a:hover, .overlay a:focus {
    color: #FA7902;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
}





// burgerIcon
.container {
    display: inline-block;
    cursor: pointer;
}

.container:hover .bar1,
.container:hover .bar2,
.container:hover .bar3 {
    background-color: #FA7902;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: whitesmoke;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 50px;
    &:hover {
        background-color: #FA7902;
    }
}

.bar2 {
    background-color: #ff4747;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}


@media screen and (min-width: 2400px) {
    .navDefault {
        padding: 10px 200px 10px 200px;
    }
}