@import './../../../styles.scss';

.navMobile {
    display: none;
}

.navDefault {
    @include allCenter(space-between, center);
    background-color: #141D2F;
    padding: 10px 100px 10px 100px;
    position: fixed;
    z-index: 5;
    right: 0;
    left: 0;
    >.linkContainer {
        @include allCenter();
        flex-direction: row;
        gap: 30px;
        width: 660px;
        height: 32px;
        >a {
            transition: all 125ms ease-in-out;
            text-decoration: none;
            font-size: 32px;
            color: whitesmoke;
            padding-left: 40px;
            &::after {
                content: '';
                width: 0px;
                height: 3px;
                display: block;
                background: #ff4747;
                transition: 300ms;
            }
            &:hover::after {
                width: 70%;
            }
            &:hover {
                color: #FA7902;
            }
        }
    }
}

.nameContainer {
    @include allCenter();
    >.firstLetter {
        font-size: 50px;
        color: #ff4747;
        font-family: 'Poppins';
        font-weight: 600;
    }
    >.nameLetters {
        font-size: 50px;
        color: whitesmoke;
        font-family: 'Poppins';
        font-weight: 600;
        position: relative;
        z-index: 5;
    }
    >div {
        @include allCenter(center, baseline);
        position: relative;
        >span {
            font-size: 50px;
            color: whitesmoke;
            font-family: 'Poppins';
            font-weight: 600;
        }
        >img {
            width: 24px;
            height: 26px;
            left: 4px;
            position: absolute;
            bottom: 20px;
        }
    }
}

.langCt {
    @include allCenter();
    >a {
        text-decoration: none;
        font-size: 32px;
        color: whitesmoke;
        margin-right: 10px;
        margin-left: 10px;
        &::after {
            content: '';
            width: 0px;
            height: 3px;
            display: block;
            background: #ff4747;
            transition: 300ms;
        }
        &:hover::after {
            width: 70%;
        }
        &:hover {
            color: #FA7902;
        }
    }
    >span {
        color: rgb(180, 180, 180);
        font-size: 30px;
    }
}


@media screen and (max-width: 1100px) {
    .burgerCt {
        cursor: pointer;
    }
    
    .navDefault {
        display: none;
    }

    .navMobile {
        @include allCenter(space-between, center);
        background-color: #141D2F;
        padding: 10px 40px 10px 40px;
        position: fixed;
        z-index: 5;
        right: 0;
        left: 0;
    }
}
