@import './../../../styles.scss';

.portFolioMainCt {
    background-color: #141D2F;
    @include allCenter();
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 80px;
    .portfolioHeadline {
        @include allCenter();
        flex-direction: column;
        >span {
            font-size: 16px;
            font-family: 'poppins';
            color: whitesmoke;
        }
        .headlineCt {
            @include allCenter();
            >.decentline {
                width: 109px;
                border:2px solid #ff4747;
                rotate: -0deg;
                position: absolute;
                left: 380px;
                border-radius: 50px;
            }
            >h2 {
                gap: 10;
                font-size: 90px;
                font-family: 'poppins';
                color: whitesmoke;
            }
            >.decentlineRight {
                border: 2px solid #ff4747;
                position: absolute;
                width: 484px;
                right: 0;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
            }
        }
    }
}

.pjRedShape {
    width: 640px;
    height: 750px;
    top: 3700px;
    left: -70px;
    rotate: 360deg;
    position: absolute;
}



@media screen and (max-width: 1420px) {
    .portFolioMainCt .portfolioHeadline .headlineCt > .decentlineRight {
        width: 25vw;
    }

    .portFolioMainCt .portfolioHeadline .headlineCt > .decentline {
        position: unset;
        margin-right: 40px;
    }

    .portFolioMainCt .portfolioHeadline .headlineCt {
        margin-right: 40px;
    }
}


@media screen and (max-width: 1200px) {
    .portFolioMainCt .portfolioHeadline .headlineCt > .decentlineRight {
        width: 20vw;
    }
}


@media screen and (max-width: 1000px) {
    .portFolioMainCt .portfolioHeadline .headlineCt > .decentlineRight {
        width: 14vw;
    }
}


@media screen and (max-width: 780px) {
    .portFolioMainCt .portfolioHeadline .headlineCt > .decentlineRight {
        width: 10vw;
    }

    .portFolioMainCt .portfolioHeadline .headlineCt > .decentline {
        width: 10vw;
        margin-right: 20px;
    }

    .pjRedShape {
        width: 400px;
        height: auto;
        top: 4500px;
    }
}


@media screen and (max-width: 600px) {
    .portFolioMainCt .portfolioHeadline .headlineCt > .decentlineRight {
        width: 20vw;
    }

    .portFolioMainCt .portfolioHeadline > span {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        padding-right: 40px;
        padding-left: 40px;
    }

    .portFolioMainCt .portfolioHeadline .headlineCt > h2 {
        font-size: 45px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: center;
    }
}


@media screen and (max-width: 460px) {
    .portFolioMainCt .portfolioHeadline .headlineCt > .decentlineRight {
        width: 14vw;
    }
}

@media screen and (max-width: 420px) {
    .portFolioMainCt .portfolioHeadline .headlineCt > .decentlineRight {
        width: 10vw;
    }
}

@media screen and (min-width: 1940px) {
    .portFolioMainCt .portfolioHeadline .headlineCt > .decentlineRight {
        width: 684px;
    }

    .portFolioMainCt .portfolioHeadline .headlineCt > .decentline {
        width: 100px;
        left: 300px;
    }
}


@media screen and (min-width: 2400px) {
    .portFolioMainCt .portfolioHeadline .headlineCt > .decentlineRight {
        width: 884px;
    }

    .portFolioMainCt .portfolioHeadline .headlineCt > .decentline {
        width: 300px;
        left: 500px;
    }
}


@media screen and (min-width: 3000px) {
    .portFolioMainCt .portfolioHeadline .headlineCt > .decentlineRight {
        width: 1184px;
    }

    .portFolioMainCt .portfolioHeadline .headlineCt > .decentline {
        width: 480px;
        left: 800px;
    }
}