<div class="portFolioMainCt">
    <div class="portfolioHeadline">
        <div class="headlineCt">
            <div class="decentline"></div>
            <h2>Portfolio</h2>
            <div class="decentlineRight"></div>
        </div>
        <span>This page is a sample of my work - please feel free to try them out.</span>
    </div>
    <app-projects
        *ngFor="let c of allProjects;
        let i = index;"
        [item]="allProjects[i]['project']"
        [framework]="allProjects[i]['lang']"
        [imgUrl]="allProjects[i]['img']"
        [content]="allProjects[i]['description']">
    </app-projects>
    <!-- *ngFor="let projects of allProjects()" [projects] = "projects"  [item]="allProjects" -->
</div>