<div class="portFolioMainCt">
    <div class="portfolioHeadline">
        <div class="headlineCt">
            <div class="decentline"></div>
            <h2>Portfolio</h2>
            <div class="decentlineRight"></div>
        </div>
        <span>{{ "PORTFOLIOHEADLINE" | translate }}</span>
    </div>
    <app-projects
        *ngFor="let c of allProjects;
        let i = index;
        let isEven = even;
        let isOdd = odd;"
        [item]="allProjects[i]['project']"
        [framework]="allProjects[i]['lang']"
        [imgUrl]="allProjects[i]['img']"
        [content]="allProjects[i]['description']"
        [liveTest]="allProjects[i]['live']"
        [gitLink]="allProjects[i]['git']"
        [i]= "i">
    </app-projects>
    <img class="pjRedShape" src="/assets/img/Vector 5.png" alt="">
</div>