<div class="projectContainer">
    <img src="./../../../../assets/img/Join.png" alt="">
    <div>
        <h3>Project XXX</h3>
        <span>framework | framework | framework | framework</span>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus accusantium magnam odio maxime ex eligendi aliquid. Recusandae ratione quaerat, iste laborum eos, eum at voluptatibus ut ea quae perspiciatis laudantium.</p>
        <div>
            <button>Live test</button>
            <button>Github</button>
        </div>
    </div>
</div>